#landingPage {
    background: url('../../img/bg/bg-main.png');
    background-size: cover;
    background-position: center center;
    background-blend-mode: saturation;
    background-repeat: no-repeat;
}
