#aboutPage {

    #mobileView {
        @include breakpoint-lg {
            display: block;
        }

        @include breakpoint-lg-up {
            display: none;
        }

        .heroSection {
            background: url('../../images/img/aboutus/02.png');
            background-size: cover;
            background-position: bottom right;
            background-repeat: no-repeat;
            height: 548px;

            .headerMain {
                height: 548px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
            }
        }
    }

    #desktopView {

        width: 100%;
        background-color: black;

        @include breakpoint-lg {
            display: none !important;
        }

        @include breakpoint-lg-up {
            display: block !important;
        }
    }
}