#homePage {
    #mobileView {
        @include breakpoint-lg {
            display: block;
        }

        @include breakpoint-lg-up {
            display: none;
        }

        .heroSection {
            background: url('../../images/bg/bg-main.png');
            background-size: cover;
            background-position: center right;
            background-blend-mode: saturation;
            background-repeat: no-repeat;
            height: 548px;

            .headerMain {
                background-image: linear-gradient(to top, rgba(0,0,0,0.82) 30%, transparent 60%);
                height: 548px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
            }
        }
    }

    #desktopView {
        background: url('../../images/bg/bg-main.png');
        background-size: cover;
        background-position: center center;
        background-blend-mode: saturation;
        background-repeat: no-repeat;

        @include breakpoint-lg {
            display: none;
        }

        @include breakpoint-lg-up {
            display: block;
        }
    }

}