#weworkPage {
    // background-color: black;
    min-width: 100vw;
    width: 100vw;
    transform: translateY(100%);
    transition: transform 0.8s linear;
    opacity: 1;

    &.slideUp {
        width: 100vw;
        transform: translateY(0%);
        transition: transform 0.8s linear;
        opacity: 1;
    }

    #mobileView {
        @include breakpoint-lg {
            display: block;
        }

        @include breakpoint-lg-up {
            display: none;
        }
    }

    #desktopView {
        // border: 1px solid red;
        width: 100%;
        background-color: black;

        @include breakpoint-lg {
            display: none !important;
        }

        @include breakpoint-lg-up {
            display: block !important;
        }
    }
}