#menuNav {
  min-height: 100dvh !important;
  max-height: auto !important;
  height: 100dvh !important;
  letter-spacing: -0.05em;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  // display: none;
  overflow-y: auto;
  z-index: 999999;

  &.open {
    transform: translateY(0%);
    opacity: 1;
    // display: block;
  }
}