// BREAKPOINTS
$xl4: 2560px;
$xl3: 1920px;
$xl2: 1536px;
$xl: 1280px;
$lg: 1024px;
$md: 768px;
$sm: 390px;


$xl4-up: 2561px;
$xl3-up: 1921px;
$xl2-up: 1537px;
$xl-up: 1281px;
$lg-up: 1025px;
$md-up: 769px;
$sm-up: 431px;