@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 100;
    src: local('Apple SD Gothic Neo Thin'),
        url('/assets/font/AppleSDGothicNeo/100_AppleSDGothicNeo-Thin.ttf') format('truetype'),
        url('/assets/font/AppleSDGothicNeo/100_AppleSDGothicNeo-Thin.woff2') format('woff2'),
        url('/assets/font/AppleSDGothicNeo/100_AppleSDGothicNeo-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 200;
  src: local('Apple SD Gothic Neo UltraLight'),
        url('/assets/font/AppleSDGothicNeo/200_AppleSDGothicNeo-UltraLight.ttf') format('truetype'),
        url('/assets/font/AppleSDGothicNeo/200_AppleSDGothicNeo-UltraLight.woff2') format('woff2'),
        url('/assets/font/AppleSDGothicNeo/200_AppleSDGothicNeo-UltraLight.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 300;
  src: local('Apple SD Gothic Neo Light'),
        url('/assets/font/AppleSDGothicNeo/300_AppleSDGothicNeo-Light.ttf') format('truetype'),
        url('/assets/font/AppleSDGothicNeo/300_AppleSDGothicNeo-Light.woff2') format('woff2'),
        url('/assets/font/AppleSDGothicNeo/300_AppleSDGothicNeo-Light.otf') format('opentype');
}



@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 400;
  src: local('Apple SD Gothic Neo Regular'),
        url('/assets/font/AppleSDGothicNeo/400_AppleSDGothicNeo-Regular.ttf') format('truetype'),
        url('/assets/font/AppleSDGothicNeo/400_AppleSDGothicNeo-Regular.woff2') format('woff2'),
        url('/assets/font/AppleSDGothicNeo/400_AppleSDGothicNeo-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 500;
  src: local('Apple SD Gothic Neo Medium'),
        url('/assets/font/AppleSDGothicNeo/500_AppleSDGothicNeo-Medium.ttf') format('truetype'),
        url('/assets/font/AppleSDGothicNeo/500_AppleSDGothicNeo-Medium.woff2') format('woff2'),
        url('/assets/font/AppleSDGothicNeo/500_AppleSDGothicNeo-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 600;
  src: local('Apple SD Gothic Neo SemiBold'),
        url('/assets/font/AppleSDGothicNeo/600_AppleSDGothicNeo-SemiBold.ttf') format('truetype'),
        url('/assets/font/AppleSDGothicNeo/600_AppleSDGothicNeo-SemiBold.woff2') format('woff2'),
        url('/assets/font/AppleSDGothicNeo/600_AppleSDGothicNeo-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 700;
  src: local('Apple SD Gothic Neo Bold'),
        url('/assets/font/AppleSDGothicNeo/700_AppleSDGothicNeo-Bold.ttf') format('truetype'),
        url('/assets/font/AppleSDGothicNeo/700_AppleSDGothicNeo-Bold.woff2') format('woff2'),
        url('/assets/font/AppleSDGothicNeo/700_AppleSDGothicNeo-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 800;
  src: local('Apple SD Gothic Neo ExtraBold'),
        url('/assets/font/AppleSDGothicNeo/800_AppleSDGothicNeo-ExtraBold.ttf') format('truetype'),
        url('/assets/font/AppleSDGothicNeo/800_AppleSDGothicNeo-ExtraBold.woff2') format('woff2'),
        url('/assets/font/AppleSDGothicNeo/800_AppleSDGothicNeo-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 900;
  src: local('Apple SD Gothic Neo Heavy'),
        url('/assets/font/AppleSDGothicNeo/900_AppleSDGothicNeo-Heavy.ttf') format('truetype'),
        url('/assets/font/AppleSDGothicNeo/900_AppleSDGothicNeo-Heavy.woff2') format('woff2'),
        url('/assets/font/AppleSDGothicNeo/900_AppleSDGothicNeo-Heavy.otf') format('opentype');
}











// @font-face {
//     font-family: 'Apple SD Gothic Neo';
//     font-style: normal;
//     font-weight: 100;
//     src: local('Apple SD Gothic Neo Thin'),
//         url('/assets/font/AppleSDGothicNeo/100_AppleSDGothicNeo-Thin.ttf') format('truetype'),
//         // url('/assets/font/AppleSDGothicNeo/100_AppleSDGothicNeo-Thin.woff2') format('woff2'),
//         // url('/assets/font/AppleSDGothicNeo/100_AppleSDGothicNeo-Thin.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 200;
//   src: local('Apple SD Gothic Neo Ultra Light'),
//         url('/assets/font/AppleSDGothicNeo/200_AppleSDGothicNeo-UltraLight.ttf') format('truetype'),
//         // url('/assets/font/AppleSDGothicNeo/200_AppleSDGothicNeo-UltraLight.woff2') format('woff2'),
//         // url('/assets/font/AppleSDGothicNeo/200_AppleSDGothicNeo-UltraLight.otf') format('opentype');

// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 300;
//   src: local('Apple SD Gothic Neo Light'),
//         url('/assets/font/AppleSDGothicNeo/300_AppleSDGothicNeo-Light.ttf') format('truetype'),
//         // url('/assets/font/AppleSDGothicNeo/300_AppleSDGothicNeo-Light.woff2') format('woff2'),
//         // url('/assets/font/AppleSDGothicNeo/300_AppleSDGothicNeo-Light.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Apple SD Gothic Neo Regular'),
//         url('/assets/font/AppleSDGothicNeo/400_AppleSDGothicNeo-Regular.ttf') format('truetype'),
//         // url('/assets/font/AppleSDGothicNeo/400_AppleSDGothicNeo-Regular.woff2') format('woff2'),
//         // url('/assets/font/AppleSDGothicNeo/400_AppleSDGothicNeo-Regular.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 500;
//   src: local('Apple SD Gothic Neo Medium'),
//         url('/assets/font/AppleSDGothicNeo/500_AppleSDGothicNeo-Medium.ttf') format('truetype'),
//         // url('/assets/font/AppleSDGothicNeo/500_AppleSDGothicNeo-Medium.woff2') format('woff2'),
//         // url('/assets/font/AppleSDGothicNeo/500_AppleSDGothicNeo-Medium.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 600;
//   src: local('Apple SD Gothic Neo SemiBold'),
//         url('/assets/font/AppleSDGothicNeo/600_AppleSDGothicNeo-SemiBold.ttf') format('truetype'),
//         // url('/assets/font/AppleSDGothicNeo/600_AppleSDGothicNeo-SemiBold.woff2') format('woff2'),
//         // url('/assets/font/AppleSDGothicNeo/600_AppleSDGothicNeo-SemiBold.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Apple SD Gothic Neo Bold'),
//         url('/assets/font/AppleSDGothicNeo/700_AppleSDGothicNeo-Bold.ttf') format('truetype'),
//         // url('/assets/font/AppleSDGothicNeo/700_AppleSDGothicNeo-Bold.woff2') format('woff2'),
//         // url('/assets/font/AppleSDGothicNeo/700_AppleSDGothicNeo-Bold.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 800;
//   src: local('Apple SD Gothic Neo ExtraBold'),
//         url('/assets/font/AppleSDGothicNeo/800_AppleSDGothicNeo-ExtraBold.ttf') format('truetype'),
//         // url('/assets/font/AppleSDGothicNeo/800_AppleSDGothicNeo-ExtraBold.woff2') format('woff2'),
//         // url('/assets/font/AppleSDGothicNeo/800_AppleSDGothicNeo-ExtraBold.otf') format('opentype');
// }

// @font-face {
//   font-family: 'Apple SD Gothic Neo';
//   font-style: normal;
//   font-weight: 900;
//   src: local('Apple SD Gothic Neo Heavy'),
//         url('/assets/font/AppleSDGothicNeo/900_AppleSDGothicNeo-Heavy.ttf') format('truetype'),
//         // url('/assets/font/AppleSDGothicNeo/900_AppleSDGothicNeo-Heavy.woff2') format('woff2'),
//         // url('/assets/font/AppleSDGothicNeo/900_AppleSDGothicNeo-Heavy.otf') format('opentype');
// }
