@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 100;
  src: local("Apple SD Gothic Neo Thin"), url("/assets/font/AppleSDGothicNeo/100_AppleSDGothicNeo-Thin.ttf") format("truetype"), url("/assets/font/AppleSDGothicNeo/100_AppleSDGothicNeo-Thin.woff2") format("woff2"), url("/assets/font/AppleSDGothicNeo/100_AppleSDGothicNeo-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 200;
  src: local("Apple SD Gothic Neo UltraLight"), url("/assets/font/AppleSDGothicNeo/200_AppleSDGothicNeo-UltraLight.ttf") format("truetype"), url("/assets/font/AppleSDGothicNeo/200_AppleSDGothicNeo-UltraLight.woff2") format("woff2"), url("/assets/font/AppleSDGothicNeo/200_AppleSDGothicNeo-UltraLight.otf") format("opentype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 300;
  src: local("Apple SD Gothic Neo Light"), url("/assets/font/AppleSDGothicNeo/300_AppleSDGothicNeo-Light.ttf") format("truetype"), url("/assets/font/AppleSDGothicNeo/300_AppleSDGothicNeo-Light.woff2") format("woff2"), url("/assets/font/AppleSDGothicNeo/300_AppleSDGothicNeo-Light.otf") format("opentype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 400;
  src: local("Apple SD Gothic Neo Regular"), url("/assets/font/AppleSDGothicNeo/400_AppleSDGothicNeo-Regular.ttf") format("truetype"), url("/assets/font/AppleSDGothicNeo/400_AppleSDGothicNeo-Regular.woff2") format("woff2"), url("/assets/font/AppleSDGothicNeo/400_AppleSDGothicNeo-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 500;
  src: local("Apple SD Gothic Neo Medium"), url("/assets/font/AppleSDGothicNeo/500_AppleSDGothicNeo-Medium.ttf") format("truetype"), url("/assets/font/AppleSDGothicNeo/500_AppleSDGothicNeo-Medium.woff2") format("woff2"), url("/assets/font/AppleSDGothicNeo/500_AppleSDGothicNeo-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 600;
  src: local("Apple SD Gothic Neo SemiBold"), url("/assets/font/AppleSDGothicNeo/600_AppleSDGothicNeo-SemiBold.ttf") format("truetype"), url("/assets/font/AppleSDGothicNeo/600_AppleSDGothicNeo-SemiBold.woff2") format("woff2"), url("/assets/font/AppleSDGothicNeo/600_AppleSDGothicNeo-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 700;
  src: local("Apple SD Gothic Neo Bold"), url("/assets/font/AppleSDGothicNeo/700_AppleSDGothicNeo-Bold.ttf") format("truetype"), url("/assets/font/AppleSDGothicNeo/700_AppleSDGothicNeo-Bold.woff2") format("woff2"), url("/assets/font/AppleSDGothicNeo/700_AppleSDGothicNeo-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 800;
  src: local("Apple SD Gothic Neo ExtraBold"), url("/assets/font/AppleSDGothicNeo/800_AppleSDGothicNeo-ExtraBold.ttf") format("truetype"), url("/assets/font/AppleSDGothicNeo/800_AppleSDGothicNeo-ExtraBold.woff2") format("woff2"), url("/assets/font/AppleSDGothicNeo/800_AppleSDGothicNeo-ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-weight: 900;
  src: local("Apple SD Gothic Neo Heavy"), url("/assets/font/AppleSDGothicNeo/900_AppleSDGothicNeo-Heavy.ttf") format("truetype"), url("/assets/font/AppleSDGothicNeo/900_AppleSDGothicNeo-Heavy.woff2") format("woff2"), url("/assets/font/AppleSDGothicNeo/900_AppleSDGothicNeo-Heavy.otf") format("opentype");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden !important;
  font-family: "Inter", sans-serif !important;
}

.font-inter {
  font-family: "Inter" !important;
}

.font-kumbhsans {
  font-family: "Kumbh Sans" !important;
}

.font-applesd {
  font-family: "Apple SD Gothic Neo" !important;
}

.font-nanumbrush {
  font-family: "Nanum Brush Script" !important;
}

.text-jungle {
  color: #242424;
}

.text-carmine {
  color: #FA2B2B;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #CCCBCB;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #636464;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404041;
}

#menuNav {
  min-height: 100dvh !important;
  max-height: auto !important;
  height: 100dvh !important;
  letter-spacing: -0.05em;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  overflow-y: auto;
  z-index: 999999;
}
#menuNav.open {
  transform: translateY(0%);
  opacity: 1;
}

.splide .splide__arrows * {
  display: none !important;
}

@media (max-width: 1024px) {
  #homePage #mobileView {
    display: block;
  }
}
@media (min-width: 1025px) {
  #homePage #mobileView {
    display: none;
  }
}
#homePage #mobileView .heroSection {
  background: url("../../images/bg/bg-main.png");
  background-size: cover;
  background-position: center right;
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  height: 548px;
}
#homePage #mobileView .heroSection .headerMain {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.82) 30%, transparent 60%);
  height: 548px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
#homePage #desktopView {
  background: url("../../images/bg/bg-main.png");
  background-size: cover;
  background-position: center center;
  background-blend-mode: saturation;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  #homePage #desktopView {
    display: none;
  }
}
@media (min-width: 1025px) {
  #homePage #desktopView {
    display: block;
  }
}

#weworkPage {
  min-width: 100vw;
  width: 100vw;
  transform: translateY(100%);
  transition: transform 0.8s linear;
  opacity: 1;
}
#weworkPage.slideUp {
  width: 100vw;
  transform: translateY(0%);
  transition: transform 0.8s linear;
  opacity: 1;
}
@media (max-width: 1024px) {
  #weworkPage #mobileView {
    display: block;
  }
}
@media (min-width: 1025px) {
  #weworkPage #mobileView {
    display: none;
  }
}
#weworkPage #desktopView {
  width: 100%;
  background-color: black;
}
@media (max-width: 1024px) {
  #weworkPage #desktopView {
    display: none !important;
  }
}
@media (min-width: 1025px) {
  #weworkPage #desktopView {
    display: block !important;
  }
}

@media (max-width: 1024px) {
  #aboutPage #mobileView {
    display: block;
  }
}
@media (min-width: 1025px) {
  #aboutPage #mobileView {
    display: none;
  }
}
#aboutPage #mobileView .heroSection {
  background: url("../../images/img/aboutus/02.png");
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 548px;
}
#aboutPage #mobileView .heroSection .headerMain {
  height: 548px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
#aboutPage #desktopView {
  width: 100%;
  background-color: black;
}
@media (max-width: 1024px) {
  #aboutPage #desktopView {
    display: none !important;
  }
}
@media (min-width: 1025px) {
  #aboutPage #desktopView {
    display: block !important;
  }
}

@media (max-width: 1024px) {
  #servicePage #mobileView {
    display: block;
  }
}
@media (min-width: 1025px) {
  #servicePage #mobileView {
    display: none;
  }
}
#servicePage #mobileView .services-circle:hover {
  background: #2B2A2A;
}
#servicePage #mobileView .services-circle:hover .title {
  color: white;
}
#servicePage #mobileView .services-circle:hover .first {
  display: none;
}
#servicePage #mobileView .services-circle:hover .second {
  display: block;
}
#servicePage #desktopView {
  width: 100%;
  background-color: black;
}
@media (max-width: 1024px) {
  #servicePage #desktopView {
    display: none !important;
  }
}
@media (min-width: 1025px) {
  #servicePage #desktopView {
    display: block !important;
  }
}
#servicePage #desktopView .services-circle:hover {
  background: #D9D9D9;
}
#servicePage #desktopView .services-circle:hover .title {
  color: #2B2A2A;
}
#servicePage #desktopView .services-circle:hover .first {
  display: none;
}
#servicePage #desktopView .services-circle:hover .second {
  display: block;
}

@media (max-width: 1024px) {
  #contactPage #mobileView {
    display: block;
  }
}
@media (min-width: 1025px) {
  #contactPage #mobileView {
    display: none;
  }
}
#contactPage #mobileView .heroSection {
  background: url("../../images/bg/bg-contact-mobile.png");
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 548px;
}
#contactPage #mobileView .heroSection .headerMain {
  height: 548px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
#contactPage #desktopView {
  background: url("../../images/bg/bg-contact.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}
@media (max-width: 1024px) {
  #contactPage #desktopView {
    display: none !important;
  }
}
@media (min-width: 1025px) {
  #contactPage #desktopView {
    display: block !important;
  }
}

@media (max-width: 1024px) {
  #projectsPage #mobileView {
    display: block;
  }
}
@media (min-width: 1025px) {
  #projectsPage #mobileView {
    display: none;
  }
}
#projectsPage #mobileView #projectWinLottery {
  background-image: url("../../images/img/projects/winlottery/winlottery-main-mobile-bg.png");
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}
#projectsPage #desktopView {
  width: 100%;
  background-color: black;
}
@media (max-width: 1024px) {
  #projectsPage #desktopView {
    display: none !important;
  }
}
@media (min-width: 1025px) {
  #projectsPage #desktopView {
    display: block !important;
  }
}/*# sourceMappingURL=main.css.map */